@model IEnumerable<BudgedManager.Models.Entity.Expense>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


<form asp-action="Index">
    <input type="radio" id="year" name="period" value="year">
    <label for="year">year</label>

    <input type="radio" id="quarter" name="period" value="quarter">
    <label for="quarter">quarter</label>

    <input type="radio" id="month" name="period" value="month">
    <label for="month">month</label>


    <input type="submit" value="Create">
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


