@model IEnumerable<BudgedManager.Models.Entity.Expense>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


<form asp-action="Index" method="get">
    <input type="radio" id="year" name="period" value="year" onchange="this.form.submit()"
           @(ViewBag.SelectedPeriod == "year" ? "checked" : "")>
    <label for="year">Year</label>

    <input type="radio" id="quarter" name="period" value="quarter" onchange="this.form.submit()"
           @(ViewBag.SelectedPeriod == "quarter" ? "checked" : "")>
    <label for="quarter">Quarter</label>

    <input type="radio" id="month" name="period" value="month" onchange="this.form.submit()"
           @(ViewBag.SelectedPeriod == "month" ? "checked" : "")>
    <label for="month">Month</label>



    <button type="submit" name="print" value="Wyświetl">Drukuj</button>
</form>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-controller="Expense" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Expense" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Expense" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


