@model IEnumerable<BudgedManager.Models.Entity.Expense>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <a asp-action="Index" asp-route-searchString="Test">Test</a> *@
<form asp-action="Index">
    <label for="searchString">
        <input type="text" name="searchString">
    </label>
    <input type="submit">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-orderBy="Amount">@Html.DisplayNameFor(model => model.Amount)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="Category">@Html.DisplayNameFor(model => model.Category)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="Date">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @item.Category.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
