@model BudgedManager.Models.Entity.Subscription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subscriptionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subscriptionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subscriptionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subscriptionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subscriptionStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subscriptionStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subscriptionPaymentPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subscriptionPaymentPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subscriptionPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subscriptionPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
